Source: kodi-game-libretro-vram-test
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-vram-test (>= 1.0.0) | vram-test (>= 1.0.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-vram-test
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: TestSW VRAM core for kodi's retroplayer
 TestSW VRAM core for kodi's retroplayer
